@{
    ViewData["Title"] = "Video";
}

<h1 class="text-white">@ViewData["Title"]</h1>

<body class="bg-dark">
    <section>
        <article class="row">
            <section class="col-sm"></section>
            <section class="col-sm">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/du8h0Rs6Hp0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </section>
            <section class="col-sm"></section>
        </article>
    </section>

</body>